<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width">

    <!-- build:css(.tmp) /css/inline.css -->
    <link rel="stylesheet" href="css/inline.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) /css/load.css -->
    <link rel="stylesheet" href="css/load.css">
    <!-- endbuild -->

    <script src="//use.typekit.net/ezm5jfk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    {% include colophon.html %}
    {{ content }}
    <footer id="updated">Updated {{site.time | date: "%m/%Y" }}.</footer>
    <div id="timelines"></div>
    <!-- build:js(.tmp) /js/main.js -->
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/js/timeline.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    {% include googleanalytics.html %}
  </body>
</html>
