<header id="colophon">
  <h1>{{ site.name }}.</h1>
  <h3 class="activity"><em>Music</em>, <em>design</em> &amp; <em> advanced UX engineering</em>.</h3>
  <aside id="tl-dr">
    <h2>tl;dr</h2>
    <p>I have been <em>building websites professionally</em> since 1998. I have <em>released records</em> as a member of Transept. I have <em>a degree</em> in Philosophy, and a <em>research masters</em> in Electroacoustic Composition and Sound Art.</p>
  </aside>
  <dl id="contact" class="detail">
    <dt>Email</dt>
    <dd><a href="mailto:{{site.author.email}}">{{site.author.email}}</a></dd>
    <dt>Twitter</dt>
    <dd><a href="http://twitter.com/{{site.author.twitter}}">@{{site.author.twitter}}</a></dd>
    <dt>Github</dt>
    <dd><a href="https://github.com/sndrs">github.com/sndrs</a></dd>
  </dl>
</header>