$base-font-size: 12px;
$base-line-height: 17px;
@include establish-baseline();

$bg-color: #fff;
$text-color: #000;

body {
  padding: rhythm(4);
  color: $text-color;
  background-color: $bg-color;
}

#timelines {
  display: none;
}

h1 {
  @include adjust-font-size-to($base-font-size * 4);
}

#colophon {
}

#contact {
  dt {
    display: inline-block;
    padding-right: 1ex;
    &:after {
      content: ': ';
    }
  }
  dd {
    display: inline-block;
    margin-right: 1em;
  }
}

em, q {
  font-style: italic;
}

code, kbd {
  font-family: Inconsolata, Menlo, Consolas, "Panic Sans", Courier, monospace;
  @include adjust-font-size-to(11px);
}

.activity {
  font-style: italic;
}

.detail {
  @include adjust-font-size-to($base-font-size * 0.8);
}

.entry {
  page-break-inside: avoid
}

.entry-title {
  @include leader(1);
  @include adjust-font-size-to($base-font-size * 2);
}

.entry-content {
  p {
    @include leader(0.5);
  }
  .fancy-content {
    display: none;
  }
}

.entry-external-url {
  @include padding-leader(1);
  display: inline-block;
}

.entry-tech {
  @include leader(0.5);
  &:before {
    content: 'Technologies: ';
    font-style: italic;
  }
}

a {
  
};

#updated {
  border-top: 1px solid black;
  margin-top: rhythm(2);
  padding-top: rhythm();
}