$base-font-size: 15px;
$base-line-height: 19px;
@include establish-baseline();

$bg-color: #fff;
$text-color: #333;
$highlight-bg-color: transparentize(#000, .96);

body {
  color: $text-color;
  background-color: $bg-color;
  -webkit-overflow-scrolling: touch;
}

a {
  color: #999;
  text-decoration: none;
  font-style: italic;
  &:hover {
    text-decoration: none;
    color: #bb0000;
  }  
}

em, q {
  font-style: italic;
}

code, kbd {
  font-family: Inconsolata, Menlo, Consolas, "Panic Sans", Courier, monospace;
  @include adjust-font-size-to(11px);
}

.activity {
  @include leader(1);
  font-style: italic;
}

.detail {
  @include adjust-font-size-to($base-font-size * 0.7);
}

#timelines {
  display: none;
}
.entry {
  padding: rhythm(1);
  border-left: none;
  background-color: $bg-color;
  border-top: 1px solid #efefef;
  border-left: 2px solid $bg-color;
  text-align: left;
}

.entry-title {
  @include adjust-font-size-to($base-font-size * 2);
  @include adjust-leading-to(0.8);
}

.entry-content {
  p {
    @include leader(1);
  }
  a {
    @include transition-property(border-color color background-color);
    @include transition-duration(100ms);
    cursor: pointer;
    font-style: normal;
    color: $text-color; 
    padding: 0 0.45ex;
    display: inline-block;
    background-color: darken(white, 1);
    text-decoration: none;
    border-color: darken(white, 9);
    border-style: solid;
    border-left-width: 1px;     
    border-bottom-width: 1px;  
    &:after {
      content: ' →';
      text-decoration: none;
      font-size: 12px;
    }
    &[data-fancy-content] {
        border-left-width: 0px;           
        border-right-width: 1px; 
        margin-right: 1px;
      &:after {
        content: '';
        font-size: 15px;
        color: #cc0000;
      }
      &:hover {
      };
    };
    &:hover {
      border-color: darken(white, 13);
      color: #bb0000; 
    }
  }
  .fancy-content {
    display: none;
  }
}
.entry-external-url {
  @include leader();
  display: inline-block;
}
.entry-tech {
  @include adjust-font-size-to($base-font-size * 0.7);
  @include margin-leader(1.6); 
  color: #999;
  font-style: italic;
  background-color: $highlight-bg-color;
  padding: rhythm(0.5);
  @include trailer(0.5);
  text-align: center;
}

#colophon {
  position: relative;
  padding: rhythm();
  text-align: center;
  background-color: $highlight-bg-color;
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
  z-index: 10;
  h1 {
    @include adjust-font-size-to($base-font-size * 1.5);
    @include adjust-leading-to(1);
  }
  h3 {
    @include leader(0);
  }
  dl {
    @include leader();
  }
  dt {
    display: none;
  }
  dd {
    display: inline-block;
    padding: 0 0.5ex;
  }
}

#updated {
  @include trailer();
  @include adjust-font-size-to($base-font-size * 0.7);
  color: #dedede;  
  text-align: center;
}

@media (min-width: 650px) {
  @import 'screen-medium';
}

@media (min-width: 770px) {
  @import 'screen-large';
}